<p id="notice"><%= notice %></p>

<p>
  <strong>Assignment title:</strong>
  <%= @assignment.assignment_title %>
</p>

<p>
  <strong>Assignment descriotion:</strong>
  <%= @assignment.assignment_descriotion %>
</p>

<p>
  <strong>Section:</strong>
  <%= @assignment.section_id %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @assignment.due_date %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
