<p id="notice"><%= notice %></p>

<h1>Section Materials</h1>

<table>
  <thead>
    <tr>
      <th>Material</th>
      <th>Section</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @section_materials.each do |section_material| %>
      <tr>
        <td><%= section_material.material_id %></td>
        <td><%= section_material.section_id %></td>
        <td><%= link_to 'Show', section_material %></td>
        <td><%= link_to 'Edit', edit_section_material_path(section_material) %></td>
        <td><%= link_to 'Destroy', section_material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section Material', new_section_material_path %>
