<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h4>Course Title</h4>
    <%= form.text_field :course_title %>
  </div>

  <div class="field">
    <h4>Course Number</h4>
    <%= form.select :course_description, ["100", "200", "300", "400"] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
